@font-face {
  font-family: "Orbitron-VariableFont_wght";
  src: url(/assets/fonts/Orbitron/Orbitron-VariableFont_wght.ttf);
}

body {
  font-family: "Orbitron-VariableFont_wght";
  background-image: url(/assets/images/download\ \(6\).jpg);
}
nav ul {
  display: flex;
  justify-content: center;
  height: 10vh;
  align-items: center;
}

li {
  margin: 1rem;
}
div {
  display: flex;
}
h1 {
  justify-content: flex-start;
}

.container {
  display: grid;
  width: max-content;
}
